@import "../common/styles/variable.scss";

.footer {
  background-color: $bg-color;
  font-size:20px;
  color:white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 300px;


}
