@import url("https://fonts.cdnfonts.com/css/gotham-ssm");

.container404 {
    text-align: center;
    color:white;
    font-size:40px;
    width:100%;
    font-family :"Gotham SSm";
    padding: 100px 50px;
}