@use  '../common/styles/variable.scss' as *;

.loginContainer {
    background-color: $bg-color;
    text-align: center;
    color:white;
    font-size: 16px;
    font-family: 'Gotham SSm A, Gotham SSm B, Halvetica, sans-serif';
    padding: 20px;
    margin:20px auto 10px;
    font-weight: 600;
    min-width:35vw;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    margin: 20px, 20px;
    font-size:20px;
};

.inputField {
    border:2px solid white;
    margin:10px 0;
    min-height:40px;
    padding:10px;
    border-radius: 5px;
}

.btnLogin {
    font-size:20px;
    text-align: center;
    background-color: #28d2d0;
    width:100%;
    color:white;
    margin-top:30px;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid $bg-color;
}

.containlabels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    vertical-align: text-top;
}

.premember {
    margin-top:5px;
    font-size:14px;
}

.rdBtn {
    font-size:14px;
}