@use "./components/common/styles/variable.scss" as *;

.appContainer {
  background-color: $bg-color;
  padding: 20px;
  min-width:800px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
